#saved_drawing{data: {slug: params[:id]}}
  %h1.drawing-title

  %p.drawing-description

  .simple.row.py-3
    .col-xs-12
      .freeform
        .row.py-1
          = render :layout => '/lessons/editor', :locals => {:editor_id => 'my_drawings_editor', cols: 12} do
            :preserve
              var canvas = document.getElementById('my_drawings_canvas');
              var context = canvas.getContext('2d');

        .row.py-1
          .visual.col-xs-12
            %h5
              Canvas
              %small (your drawing will display here)
            .canvas
              %canvas#my_drawings_canvas

  .save.row.py-3
    .col-xs-12
      %h2 Edit Drawing Info

      .row.py-2
        .col-xs-12
          .form-group
            = label_tag :my_drawing_title, 'Provide a short identifying name for this drawing:'
            = text_field_tag :my_drawing_title, '', class: 'form-control my_drawing_title', placeholder: 'Example: Red Flower', style: 'width: 30%;'
          .form-group.my-2
            = label_tag :my_drawing_description, 'Provide an optional description of this drawing:'
            = text_area_tag :my_drawing_description, '', rows: 3, class: 'form-control my_drawing_description'

          .float-xs-right
            %button.btn.btn-danger.delete Delete Drawing
          = submit_tag 'Save Drawing', class: 'btn btn-primary submit'
