.row
  .col-xs-12
    %h2 Drawing In Code
    %p.pt-2
      An exploration of artistic observation and computational thinking.
    %p.pt-1
      Can you teach a computer how to draw, design animations, interactive stories, and games?


    %hr.my-3

    .row
      .col-xs-6
        %h3 The Basic Cityscape
        %p.my-1
          Learn to draw a basic cityscape programatically. Design functions
          that allow you to design different buildings for your city.
        %p
          = link_to_lesson('Get Started', :stage1, :dng_basic_cityscape, class: 'btn btn-primary')

      .col-xs-6.text-xs-center
        = image_tag('basic_cityscape.png', class: 'img-fluid')


    -# %hr.my-3
    -#
    -# .row
    -#   .col-xs-6
    -#     %h3 Flappy Square
    -#     %p.my-1
    -#       Create a simplified version of the popular "Flappy Bird" mobile game.
    -#     %p
    -#       Learn about animation and user interactions on your way to building
    -#       a simple HTML5 game.
    -#     %p
    -#       = link_to_lesson('Get Started', :stage1, :flappy_square, class: 'btn btn-primary')
    -#
    -#   .col-xs-6.text-xs-center
    -#     = image_tag('flappy_square.gif', class: 'img-fluid')

    %hr.my-3

    .row
      .col-xs-6
        %h3 The Animated Skyline
        %p.my-1
          Learn create an animated skyline with a gradient sunset and lights
          within offices flashing on and off.
        %p
          %h6 In Development

      .col-xs-6.text-xs-center
        = image_tag('animated_skyline.gif', class: 'img-fluid')


    %hr.my-3

    .row
      .col-xs-6
        %h3 Parallax Cityscape
        %p.my-1
          Parallax allows you to create a sense of depth in a 2d surface.
          Learn how to create layers of an image that move independently,
          providing this 3D illusion.

        %p
          %h6 In Development

      .col-xs-6.text-xs-center
        = image_tag('parallax_cityscape.gif', class: 'img-fluid')

    %hr.my-3

    .row
      .col-xs-6
        %h3 A Brick Building
        %p.my-1
          Create a much more visually rich and detailed building, complete
          with detailed bricks, windows, door, and railing.
        %p
          %h6 In Development

      .col-xs-6.text-xs-center
        = image_tag('brick_building.png', class: 'img-fluid')

    %hr.my-3

    .row
      .col-xs-6
        %h3 Your Drawings, Animations, and Games
        %p.mt-1
          The goal of this website is to help you develop the skills
          necessary for you to create your own drawings, animations, and games.
        %p.mb-1
          Take the skills you learn in the lessons below and apply them in a novel way
          to create something completely new!
        %p
          = link_to('Draw Something', drawings_path, class: 'btn btn-primary')

      .col-xs-6.text-xs-center
        = image_tag('questionmark.png', class: 'img-fluid')
