#functions.lesson
  %h1 Functions

  = render 'lessons/challenge_count'

  .official.row.py-3
    .col-xs-6
      %h2 Overview
      %p.pt-2
        Functions allow you to reuse code. You can call a function with
        different parameters to produce different results.
      %p
        Here we use a function to draw building shapes of specific sizes in
        specific places.

    .col-xs-6
      = image_tag('lessons/functions/visual1.png', class: 'img-fluid')


  .example.row.py-3
    .col-xs-12
      .row
        .col-xs-12
          %h2
            Example
          %p.pt-2
            Below we use a function to draw the flag of Madagascar at what ever x and y anchor point we want.

        .col-xs-12
          .interactive.row.py-1
            = render :layout => '/lessons/editor', :locals => {:editor_id => 'functions_example1_editor'} do
              :preserve
                var canvas = document.getElementById('functions_example1');
                var context = canvas.getContext("2d");
                context.clearRect(0, 0, canvas.width, canvas.height);

                function flag(x, y) {
                  context.save();
                  context.fillStyle = '#FFFFFF';
                  context.fillRect(x, y, 25, 50);

                  context.fillStyle = '#EB4D37';
                  context.fillRect(x + 25, y, 50, 25);

                  context.fillStyle = '#337D3F';
                  context.fillRect(x + 25, y + 25, 50, 25);
                  context.restore();
                }

                flag(60,30);
                flag(360,70);
                flag(210,130);
                flag(40,200);
                flag(300,210);

            .visual.col-xs-6
              %h5
                Canvas
                %small (your drawing will display here)
              .canvas
                %canvas#functions_example1




  #challenge1.challenge.row.py-3
    .col-xs-12
      .row
        .col-xs-12
          %h2.challenge-title Challenge 1
          %p.py-2
            Write a function. drawColoredRect(), that will draw a rectangle of the specified color
            that is 50px tall and 100px wide at the specified x and y.
      .row
        = render :layout => '/lessons/editor', :locals => {:editor_id => 'functions_challenge1_editor'} do
          :preserve
            var canvas = document.getElementById('functions_challenge1');
            var context = canvas.getContext("2d");
            context.save();

            // WRITE YOUR FUNCTION HERE

            drawColoredRect(50,50,'red');
            drawColoredRect(50,150,'green');
            drawColoredRect(50,250,'blue');

            context.restore();


        .visual.col-xs-6
          %h5
            Canvas
            %small (your drawing will display here)
          .canvas
            .background.hidden-xl-down= image_tag('lessons/functions/challenge1.png')
            %canvas#functions_challenge1
          .alert
