%ul.nav.nav-sidebar
  %li.section
    %a.section_link{:href => '#', data: {section: 'reference'}}
      Reference

    %ul.nav.nav-sidebar#reference{class: (params[:section] == 'reference' ? 'collapse in' : 'collapse')}
      - @reference.each do |key, lessons|
        %li.section.mt-1
          %strong= key
        - lessons.each do |lesson|
          %li{class: ('active' if params[:id] == lesson.to_s)}
            - id = @lessons[lesson][:id] || lesson
            = link_to_lesson(@lessons[lesson][:method], id, 'reference')
            - if @lessons[lesson][:count] > 0
              %span.tag.tag-default
                %small{class: lesson}= "0 / #{ @lessons[lesson][:count]}"

%ul.nav.nav-sidebar
  %li.section
    %a.section_link{:href => '#', data: {section: 'concepts'}}
      Concepts

    %ul.nav.nav-sidebar#concepts{class: (params[:section] == 'concepts' ? 'collapse in' : 'collapse')}
      - @concepts.each do |lesson|
        %li{class: ('active' if params[:id] == lesson.to_s)}
          = link_to_lesson(@lessons[lesson][:method], lesson, 'concepts')
          - if @lessons[lesson][:count] > 0
            %span.tag.tag-default
              %small{class: lesson}= "0 / #{ @lessons[lesson][:count]}"

%ul.nav.nav-sidebar
  - @challenge_paths.each do |challenge_path|
    %li.section
      %a.section_link{:href => '#', data: {section: challenge_path[:slug]}}= challenge_path[:name]

      %ul.nav.nav-sidebar{id: challenge_path[:slug], class: (params[:section] == challenge_path[:slug] ? 'collapse in' : 'collapse')}
        - challenge_path[:stages].each do |lesson|
          %li{class: ('active' if params[:id] == lesson.to_s)}
            = link_to_lesson(@lessons[lesson][:method], lesson, challenge_path[:slug])
            - if @lessons[lesson][:count] > 0
              %span.tag.tag-default
                %small{class: lesson}= "0 / #{ @lessons[lesson][:count]}"

        %li.section.small.mt-2
          %strong Relevant Reference

        - challenge_path[:reference].each do |lesson|
          %li{class: "small #{('active' if params[:id] == lesson.to_s)}"}
            = link_to_lesson(@lessons[lesson][:method], lesson, challenge_path[:slug])
            - if @lessons[lesson][:count] > 0
              %span.tag.tag-default
                %small{class: lesson}= "0 / #{ @lessons[lesson][:count]}"

        %li.section.small.mt-1
          %strong Relevant Concepts

        - challenge_path[:concepts].each do |lesson|
          %li{class: "small #{('active' if params[:id] == lesson.to_s)}"}
            = link_to_lesson(@lessons[lesson][:method], lesson, challenge_path[:slug])
            - if @lessons[lesson][:count] > 0
              %span.tag.tag-default
                %small{class: lesson}= "0 / #{ @lessons[lesson][:count]}"
