%ul.nav.nav-sidebar
  %li.section
    = link_to 'Home', root_path, class: 'section_link'
-#
  %ul.nav.nav-sidebar
    %li.section
      %a.section_link{:href => '#', data: {section: 'drawings'}}
        Your Drawings

      %ul.nav.nav-sidebar#drawings{class: (@drawing ? 'collapse in' : 'collapse')}
        %li{class: ('active' if @my_drawing)}
          = link_to('Create A Drawing', drawings_path)

        %li.section.drawings-list.small.mt-1.hidden-xs-up
          %strong My Drawings

  %ul.nav.nav-sidebar
    %li.section
      = link_to('Gallery', examples_path, class: 'section_link')

%ul.nav.nav-sidebar{style: 'display: none;'}
  %li.section
    %a.section_link{:href => '#', data: {section: 'reference'}}
      Reference

    %ul.nav.nav-sidebar#reference{class: (params[:section] == 'reference' ? 'collapse in' : 'collapse')}
      - @reference.each do |key, lessons|
        %li.section.mt-1
          %strong= key
        - lessons.each do |lesson|
          %li{class: ('active' if params[:id] == lesson.to_s)}
            - id = @lessons[lesson][:id] || lesson
            = link_to_lesson(@lessons[lesson][:method], id, 'reference')
            - if @lessons[lesson][:count] > 0
              %span.tag.tag-default
                %small{class: lesson}= "0 / #{ @lessons[lesson][:count]}"
            .reference-modal-content{id: "reference-modal-#{id}"}
              = render partial: "lessons/modal/#{id}"

%ul.nav.nav-sidebar{style: 'display: none;'}
  %li.section
    %a.section_link{:href => '#', data: {section: 'concepts'}}
      Concepts

    %ul.nav.nav-sidebar#concepts{class: (params[:section] == 'concepts' ? 'collapse in' : 'collapse')}
      - @concepts.each do |lesson|
        %li{class: ('active' if params[:id] == lesson.to_s)}
          = link_to_lesson(@lessons[lesson][:method], lesson, 'concepts')
          - if @lessons[lesson][:count] > 0
            %span.tag.tag-default
              %small{class: lesson}= "0 / #{ @lessons[lesson][:count]}"
          .reference-modal-content{id: "reference-modal-#{lesson}"}
            = render partial: "lessons/modal/#{lesson}"


%ul.nav.nav-sidebar
  - @challenge_paths.each do |challenge_path|
    - next unless params[:section] == challenge_path[:slug]

    %li.section.my-1
      %a.section_link{:href => '#', data: {section: challenge_path[:slug]}}= challenge_path[:name]

      %ul.nav.nav-sidebar{id: challenge_path[:slug], class: (params[:section] == challenge_path[:slug] ? 'collapse in' : 'collapse')}
        - challenge_path[:stages].each_with_index do |challenge_count, index|
          - lesson_index = index + 1
          %li{class: ('active' if params[:id] == "stage#{lesson_index}")}
            = link_to_lesson("Stage #{lesson_index}", "stage#{lesson_index}", challenge_path[:slug])
            - if challenge_count > 0
              %span.tag.tag-default
                %small{class: "#{challenge_path[:slug]}_stage#{lesson_index}"}= "0 / #{challenge_count}"
            - if params[:id] == "stage#{lesson_index}"
              - challenge_count.times do |i|
                %li.page_section.row.small{id: "page_section#{i + 1}"}
                  = link_to("Section #{i + 1}", "#section#{i + 1}", style: 'margin-left: 21px; width: 6.5em; display: inline-block;')
                  %span.tag.tag-success.hidden-xs-up &#10003;





      %ul.nav.nav-sidebar#quick-reference
        %li.section.small.mt-3
          %strong Quick Reference

        - challenge_path[:reference].each do |lesson|
          %li{class: "small #{('active' if params[:id] == lesson.to_s)}"}
            = link_to_lesson(@lessons[lesson][:method], lesson, challenge_path[:slug], class: 'reference-link', data: {slug: lesson})
            -# if @lessons[lesson][:count] > 0
              %span.tag.tag-default
                %small{class: lesson}= "0 / #{ @lessons[lesson][:count]}"
        -#
          %li.section.small.mt-1
            %strong Concepts

          - challenge_path[:concepts].each do |lesson|
            %li{class: "small #{('active' if params[:id] == lesson.to_s)}"}
              = link_to_lesson(@lessons[lesson][:method], lesson, challenge_path[:slug], class: 'reference-link', data: {slug: lesson})
              -# if @lessons[lesson][:count] > 0
                %span.tag.tag-default
                  %small{class: lesson}= "0 / #{ @lessons[lesson][:count]}"


%ul.nav.nav-sidebar.hidden-xs-up
  %li.section
    %a.section_link{:href => '#', data: {section: 'experimental'}}
      All

  %ul.nav.nav-sidebar
    %li.section.small
      %strong Active

      - @challenge_paths.each do |challenge_path|
        - next if challenge_path[:experimental]
        %li{class: "small #{('active' if params[:id] == challenge_path[:slug].to_s)}"}
          = link_to_lesson(challenge_path[:name], 'stage1', challenge_path[:slug])

    %li.section.small.mt-2
      %strong Experimental

      - @challenge_paths.each do |challenge_path|
        - next unless challenge_path[:experimental]
        %li{class: "small #{('active' if params[:id] == challenge_path[:slug].to_s)}"}
          = link_to_lesson(challenge_path[:name], 'stage1', challenge_path[:slug])
