!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Drawing Code
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    = render partial: 'layouts/header'

    .container-fluid
      .row
        .col-sm-3.col-md-2
          = render partial: 'layouts/navigation'

        .col-sm-9.col-md-10.main
          = yield
