!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Drawing Code
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    = render partial: 'layouts/header'

    .container-fluid
      .row
        .col-md-3.col-lg-2.sidebar
          = render partial: 'layouts/navigation'

        .col-xs-12.offset-md-3.col-md-9.offset-lg-2.col-lg-10.main
          = yield

          - if @next_lesson.present?
            .py-3
              %h2
                Ready for the next lesson?
              %p.py-1
                Next up, the
                = link_to("\"#{@lessons[@next_lesson][:method]}\" lesson >", "/lessons/#{params[:section]}/#{@next_lesson}")
